    <div class="sidebar" data-color="orange" data-background-color="white" data-image="/static/assets/img/sidebar-3.jpg">
      <div class="logo" style="padding: inherit;">
     
        <a  rel="noopener noreferrer" 
           href="https://appseed.us/admin-dashboards/django-dashboard-material" class="simple-text logo-normal">
           <img src="/static/assets/img/Picture1.png" style="width: 70%; padding: inherit">
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav ">
        {% if request.user.is_authenticated %}

          <li class="nav-item active  ">
            <a class="nav-link "  href="#homeSubmenu1" data-toggle="collapse" aria-expanded="true" >
              <i class="material-icons">dashboard</i>
              <div class="row">
              <p>Dashboard</p> <span> <i class="material-icons" style="margin-left: 150%">expand_more</i> </span>
            </div>
              
            </a>
            <ul class="  list-unstyled nav-link nav-second-level  " id="homeSubmenu1">
              <li class="nav-item {% if 'index' in segment %} active {% endif %}">
                  <a  href="/index.html" class="nav-link"><i class="material-icons">analytics</i> Sales informations</a>
              </li>
              <li class="nav-item {% if 'discount-information' in segment %} active {% endif %}">
                <a  href="/discount-information.html" class="nav-link"><i class="material-icons">show_chart</i> Discount information</a>
            </li>
            <li class="nav-item {% if 'customer-satisfaction' in segment %} active {% endif %}">
              <a  href="/customer-satisfaction.html" class="nav-link"><i class="material-icons">tag_faces</i> Customer satisfaction</a>
          </li>
          <li class="nav-item {% if 'delivery-information' in segment %} active {% endif %}">
            <a  href="/delivery-information.html" class="nav-link"><i class="material-icons">bubble_chart</i> Deliveries informations</a>
        </li>
          </ul>
          </li>
          <li class="nav-item active ">
            <a class="nav-link "  href="#homeSubmenu" data-toggle="collapse" aria-expanded="true" >
              <i class="material-icons">batch_prediction</i>
              <div class="row">
              <p>Prediction</p> <span> <i class="material-icons" style="margin-left: 150%">expand_more</i> </span>
            </div>
              
            </a>
            <ul class="  list-unstyled nav-link nav-second-level" id="homeSubmenu">
              <li class="nav-item {% if 'quantityprediction' in segment %} active {% endif %}">
                  <a  href="{% url 'quantityprediction' %}" class="nav-link"><i class="material-icons">inventory_2</i> Quantity sold</a>
              </li>
              <li class="nav-item {% if 'opinionanalysis' in segment %} active {% endif %}">
                <a  href="/opinionanalysis.html" class="nav-link"><i class="material-icons">3p</i> opinion analysis</a>
            </li>
            <li class="nav-item {% if 'shippingmethod' in segment %} active {% endif %}">
              <a  href="{% url 'shippingmethod' %}" class="nav-link"><i class="material-icons">local_shipping</i>Shipping method</a>
          </li>
          <li class="nav-item {% if 'sentimentanalysis' in segment %} active {% endif %}">
            <a  href="/sentimentanalysis.html" class="nav-link"><i class="material-icons">face_retouching_natural</i> Sentiment analysis</a>
        </li>
        <li class="nav-item {% if 'recomendationsystem.html' in segment %} active {% endif %}">
          <a href="/recomendationsystem.html" class="nav-link"><i class="material-icons">recommend</i> Recommendation system</a>
      </li>
          </ul>
          </li>
         
         

       

          <li class="nav-item " style="position: relative; bottom: 0; " >
            <a class="nav-link" href="{% url 'logout' %}" >
               <i class="material-icons">directions_run</i>
              <p>Logout</p>
            </a>
          </li>

        {% else %}

          <li class="nav-item active">
            <a class="nav-link" 
               target="_blank" rel="noopener noreferrer"  
               href="https://appseed.us/admin-dashboards/django-dashboard-material-pro">
              <i class="material-icons">unarchive</i>
              <p>PRO Version</p>
            </a>
          </li>          

        {% endif %}
        </ul>
      </div>

    </div>
