{% extends "layouts/base.html" %}

{% block title %} Quantity prediction {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>

input[type="text"] {
  width: 100%;
  padding: 15px 10px;
  border: none;
  border-bottom: 1px solid #645979;
  outline: none;
  border-radius: 5px 5px 0 0;
  background-color: #ffffff;
  font-size: 16px;
}
ul {
  list-style: none;
}
.list {
  width: 100%;
  background-color: #ffffff;
  border-radius: 0 0 5px 5px;
}
.list-items {
  padding: 10px 5px;
}
.list-items:hover {
  background-color: #dddddd;
}
</style>
{% endblock stylesheets %}

{% block content %}

<div class="row"  style=" display: flex;
justify-content: center;
align-items: center;">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header card-header-primary" style="background: orange;">
        <h4 class="card-title">Prediction </h4>
        <p class="card-category">Quantity sold</p>
      </div>
      <div class="card-body">
       
        <table id="myTable" hidden>

      
        {% for d in category.Category %}
        <tr>
          <td>{{ d }}</td>
        </tr>
       
      {% endfor %}
    </table>
    <table id="myTable1" hidden >

      
      {% for d in courierstatus  %}
      <tr>
        <td>{{ d }}</td>
      </tr>
     
    {% endfor %}
    <table id="myTable2" hidden>

      
      {% for d in fulfilledby  %}
      <tr>
        <td>{{ d }}</td>
      </tr>
     
    {% endfor %}
  </table>
  <table id="myTable3" hidden>

      
    {% for d in shipservicelevel  %}
    <tr>
      <td>{{ d }}</td>
    </tr>
   
  {% endfor %}
</table>
<table id="myTable4" hidden>

      
  {% for d in fulfilment  %}
  <tr>
    <td>{{ d }}</td>
  </tr>
 
{% endfor %}
</table>
        <form id="recommendation-form" autocomplete="off">
          <div>
            <label for="input">Category</label>
            <input type="text" id="input" placeholder="Type a category here..." required/>
          </div>
          <ul class="list"></ul><br>
          <div>
            <label for="inputt">Courier status</label>
            <input type="text" id="inputt" placeholder="Type a Courier Status here..." required/>
          </div>
          <ul class="listt"></ul>
          <br>
          <div>
            <label for="inputtt">Fulfilment</label>
            <input type="text" id="inputtt" placeholder="Type a Courier Status here..." required/>
          </div>
          <ul class="listtt"></ul><br><br>
          <div>
            <label for="inputttt">Fulfilled-By</label>
            <input type="text" id="inputttt" placeholder="Type a Courier Status here..." required/>
          </div>
          <ul class="listttt"></ul><br>
          <div>
            <label for="inputtttt">Ship service level</label>
            <input type="text" id="inputtttt" placeholder="Type a Courier Status here..." required/>
          </div>  <ul class="listtttt"></ul><br>
          <button type="submit" class="btn btn-primary pull-right" style="background-color: orange; box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4); color: white;">Predict</button>
        </form>

      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card card-profile">
   
    <div class="card-body">
    <h6 class="card-category text-gray">
    Prediction result <br>
    </h6>
    <h4 class="card-title">
    </h4>
    <div id="img"></div>
    <br>
    <ul id="my-list" style="text-align: center; font-size: xx-large; margin-left: 40%;"></ul>
    <a href="#pablo" class="btn btn-primary btn-round"style="background-color: orange; box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4); color: white;" id="clear-button">Clear</a>
    </div>
    </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <!--  Google Maps Plugin    -->
  

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initGoogleMaps();
      console.log("{{ courierstatus }}")

    });
  </script>
 
  <script>
    $(document).ready(function() {
  $.ajaxSetup({
    headers: {
      'X-CSRFToken': '{{ csrf_token }}'
    }
  });

});
    $('#recommendation-form').submit(function(event) {
    event.preventDefault();
   var qty = $('#quantity').val();
   var amount = $('#amount').val();
   var category = 0 ;
    var courierstatus = 0;
    var fulfilment = 0;
    var fulfilmentby =0;
    var shipservicelevel = 0;
    if ($('#inputtttt').val() == 'Standard'){
      shipservicelevel = 1;
    }
    if ($('#inputttt').val() == 'Non Easy Ship'){
      fulfilment = 1;
    }
    if ($('#inputtt').val() == 'Merchant'){
      fulfilment = 1;
    }
    if ($('#inputt').val() == 'Shipped'){
      courierstatus = 1;
    }

    if ($('#inputt').val() == 'Unshipped'){
      courierstatus = 2;
    }
    if ($('#input').val() == 'Bottom'){
      category = 1;
    }
    if ($('#input').val() == 'Dupatta'){
      category = 2;
    }
    if ($('#input').val() == 'Ethnic Dress'){
      category = 3;
    }
    if ($('#input').val() == 'Kurta'){
      category = 4;
    }
    if ($('#input').val() == 'Kurta Set'){
      category = 5;
    }
    if ($('#input').val() == 'Saree'){
      category = 6;
    }
    if ($('#input').val() == 'Tops'){
      category = 7;
    }
    if ($('#input').val() == 'Western Dress'){
      category = 8;
    }
    $.ajax({
        type: 'POST',
        url: '/quantitypred/',
       
        data: {'fulfilment': fulfilment,
              'fulfilledby':fulfilmentby,
              'shipservicelevel':shipservicelevel  ,
              'courierstatus':courierstatus,
              'category':category},
        success: function(data) {
          $('#my-list').empty();
          console.log(data.prediction[0])
          var ulElement = $('#my-list');
          var liElement = $('<tr> <td>').text(data.prediction[0]);
            ulElement.append(liElement);
            
         
        }
    });
});
$(document).ready(function() {
  $('#clear-button').click(function() {
    $('#my-list').empty();
  });
});

  // Select the table element
 // Output the array of strings

 const table = document.getElementById('myTable');
  
  // Initialize an empty array to store the strings
  const names = [];

  // Iterate over the table rows
  for (let i = 0; i < table.rows.length; i++) {
    const cell = table.rows[i].cells[0]; // Select the first (and only) cell of each row
    const text = cell.innerText; // Extract the text from the cell
    console.log(text);
    names.push(text); // Add the text to the stringList array
  }

  console.log(names); 
//Sort names in ascending order
let sortedNames = names.sort();
//reference
let input = document.getElementById("input");
//Execute function on keyup
input.addEventListener("keyup", (e) => {
  //loop through above array
  //Initially remove all elements ( so if user erases a letter or adds new letter then clean previous outputs)
  removeElements();
  for (let i of sortedNames) {
    //convert input to lowercase and compare with each string
    if (
      i.toLowerCase().startsWith(input.value.toLowerCase()) &&
      input.value != ""
    ) {
      //create li element
      let listItem = document.createElement("li");
      //One common class name
      listItem.classList.add("list-items");
      listItem.style.cursor = "pointer";
      listItem.setAttribute("onclick", "displayNames('" + i + "')");
      //Display matched part in bold
      let word = "<b>" + i.substr(0, input.value.length) + "</b>";
      word += i.substr(input.value.length);
      //display the value in array
      listItem.innerHTML = word;
      document.querySelector(".list").appendChild(listItem);
    }
  }
});
function displayNames(value) {
  input.value = value;
  removeElements();
}
function removeElements() {
  //clear all the item
  let items = document.querySelectorAll(".list-items");
  items.forEach((item) => {
    item.remove();
  });
}
  </script>
  <script>


    // Select the table element
 // Output the array of strings

 const tablee = document.getElementById('myTable1');
  
  // Initialize an empty array to store the strings
  const namese = [];

  // Iterate over the table rows
  for (let ie = 0; ie < tablee.rows.length; ie++) {
    const celle = tablee.rows[ie].cells[0]; // Select the first (and only) cell of each row
    const texte = celle.innerText; // Extract the text from the cell
    console.log(texte);
    namese.push(texte); // Add the text to the stringList array
  }

  console.log(namese); 
//Sort names in ascending order
let sortedNamese = namese.sort();
//reference
let inpute = document.getElementById("inputt");
//Execute function on keyup
inpute.addEventListener("keyup", (e) => {
  //loop through above array
  //Initially remove all elements ( so if user erases a letter or adds new letter then clean previous outputs)
  removeElements();
  for (let il of sortedNamese) {
    //convert input to lowercase and compare with each string
    if (
      il.toLowerCase().startsWith(inpute.value.toLowerCase()) &&
      inpute.value != ""
    ) {
      //create li element
      let listIteme = document.createElement("li");
      //One common class name
      listIteme.classList.add("list-items");
      listIteme.style.cursor = "pointer";
      listIteme.setAttribute("onclick", "displayNamess('" + il + "')");
      //Display matched part in bold
      let word1 = "<b>" + il.substr(0, inpute.value.length) + "</b>";
      word1 += il.substr(inpute.value.length);
      //display the value in array
      listIteme.innerHTML = word1;
      document.querySelector(".listt").appendChild(listIteme);
    }
  }
});
function displayNamess(value1) {
  inpute.value = value1;
  removeElements();
}
function removeElements() {
  //clear all the item
  let itemse = document.querySelectorAll(".list-items");
  itemse.forEach((item) => {
    item.remove();
  });
}
  </script>
 <script>
  
    // Select the table element
 // Output the array of strings

 const tableee = document.getElementById('myTable4');
  
  // Initialize an empty array to store the strings
  const namesee = [];

  // Iterate over the table rows
  for (let iee = 0; iee < tableee.rows.length; iee++) {
    const cellee = tableee.rows[iee].cells[0]; // Select the first (and only) cell of each row
    const textee = cellee.innerText; // Extract the text from the cell
    console.log(textee);
    namesee.push(textee); // Add the text to the stringList array
  }

  console.log(namesee); 
//Sort names in ascending order
let sortedNamesee = namesee.sort();
//reference
let inputee = document.getElementById("inputtt");
//Execute function on keyup
inputee.addEventListener("keyup", (e) => {
  //loop through above array
  //Initially remove all elements ( so if user erases a letter or adds new letter then clean previous outputs)
  removeElements();
  for (let ile of sortedNamesee) {
    //convert input to lowercase and compare with each string
    if (
      ile.toLowerCase().startsWith(inputee.value.toLowerCase()) &&
      inputee.value != ""
    ) {
      //create li element
      let listItemee = document.createElement("li");
      //One common class name
      listItemee.classList.add("list-items");
      listItemee.style.cursor = "pointer";
      listItemee.setAttribute("onclick", "displayNamesss('" + ile + "')");
      //Display matched part in bold
      let word2 = "<b>" + ile.substr(0, inputee.value.length) + "</b>";
      word2 += ile.substr(inputee.value.length);
      //display the value in array
      listItemee.innerHTML = word2;
      document.querySelector(".listtt").appendChild(listItemee);
    }
  }
});
function displayNamesss(value2) {
  inputee.value = value2;
  removeElements();
}
function removeElements() {
  //clear all the item
  let itemsee = document.querySelectorAll(".list-items");
  itemsee.forEach((item) => {
    item.remove();
  });
}
 </script>
<script>
  
    // Select the table element
 // Output the array of strings

 const tableeee = document.getElementById('myTable2');
  
  // Initialize an empty array to store the strings
  const nameseee = [];

  // Iterate over the table rows
  for (let ieee = 0; ieee < tableeee.rows.length; ieee++) {
    const celleee = tableeee.rows[ieee].cells[0]; // Select the first (and only) cell of each row
    const texteee = celleee.innerText; // Extract the text from the cell
    console.log(texteee);
    nameseee.push(texteee); // Add the text to the stringList array
  }

  console.log(nameseee); 
//Sort names in ascending order
let sortedNameseee = nameseee.sort();
//reference
let inputeee = document.getElementById("inputttt");
//Execute function on keyup
inputeee.addEventListener("keyup", (e) => {
  //loop through above array
  //Initially remove all elements ( so if user erases a letter or adds new letter then clean previous outputs)
  removeElements();
  for (let ilee of sortedNameseee) {
    //convert input to lowercase and compare with each string
    if (
      ilee.toLowerCase().startsWith(inputeee.value.toLowerCase()) &&
      inputeee.value != ""
    ) {
      //create li element
      let listItemeee = document.createElement("li");
      //One common class name
      listItemeee.classList.add("list-items");
      listItemeee.style.cursor = "pointer";
      listItemeee.setAttribute("onclick", "displayNamessss('" + ilee + "')");
      //Display matched part in bold
      let word3 = "<b>" + ilee.substr(0, inputeee.value.length) + "</b>";
      word3 += ilee.substr(inputeee.value.length);
      //display the value in array
      listItemeee.innerHTML = word3;
      document.querySelector(".listttt").appendChild(listItemeee);
    }
  }
});
function displayNamessss(value3) {
  inputeee.value = value3;
  removeElements();
}
function removeElements() {
  //clear all the item
  let itemseee = document.querySelectorAll(".list-items");
  itemseee.forEach((item) => {
    item.remove();
  });
}
</script>
<script>
  
  // Select the table element
// Output the array of strings

const tableeeee = document.getElementById('myTable3');

// Initialize an empty array to store the strings
const nameseeee = [];

// Iterate over the table rows
for (let ieeee = 0; ieeee < tableeeee.rows.length; ieeee++) {
  const celleeee = tableeeee.rows[ieeee].cells[0]; // Select the first (and only) cell of each row
  const texteeee = celleeee.innerText; // Extract the text from the cell
  console.log(texteeee);
  nameseeee.push(texteeee); // Add the text to the stringList array
}

console.log(nameseeee); 
//Sort names in ascending order
let sortedNameseeee = nameseeee.sort();
//reference
let inputeeee = document.getElementById("inputtttt");
//Execute function on keyup
inputeeee.addEventListener("keyup", (e) => {
//loop through above array
//Initially remove all elements ( so if user erases a letter or adds new letter then clean previous outputs)
removeElements();
for (let ileee of sortedNameseeee) {
  //convert input to lowercase and compare with each string
  if (
    ileee.toLowerCase().startsWith(inputeeee.value.toLowerCase()) &&
    inputeeee.value != ""
  ) {
    //create li element
    let listItemeeee = document.createElement("li");
    //One common class name
    listItemeeee.classList.add("list-items");
    listItemeeee.style.cursor = "pointer";
    listItemeeee.setAttribute("onclick", "displayNamesssss('" + ileee + "')");
    //Display matched part in bold
    let word4 = "<b>" + ileee.substr(0, inputeeee.value.length) + "</b>";
    word4 += ileee.substr(inputeeee.value.length);
    //display the value in array
    listItemeeee.innerHTML = word4;
    document.querySelector(".listtttt").appendChild(listItemeeee);
  }
}
});
function displayNamesssss(value4) {
inputeeee.value = value4;
removeElements();
}
function removeElements() {
//clear all the item
let itemseese = document.querySelectorAll(".list-items");
itemseese.forEach((item) => {
  item.remove();
});
}
</script>
{% endblock javascripts %}
