{% extends "layouts/base.html" %}

{% block title %} Recommendation system {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>

input[type="text"] {
  width: 100%;
  padding: 15px 10px;
  border: none;
  border-bottom: 1px solid #645979;
  outline: none;
  border-radius: 5px 5px 0 0;
  background-color: #ffffff;
  font-size: 16px;
}
ul {
  list-style: none;
}
.list {
  width: 100%;
  background-color: #ffffff;
  border-radius: 0 0 5px 5px;
}
.list-items {
  padding: 10px 5px;
}
.list-items:hover {
  background-color: #dddddd;
}
</style>
{% endblock stylesheets %}

{% block content %}

<div class="row"  style=" display: flex;
justify-content: center;
align-items: center;">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header card-header-primary" style="background: orange;">
        <h4 class="card-title">Prediction </h4>
        <p class="card-category">Recomendation system</p>
      </div>
      <div class="card-body">
        <table id="myTable" hidden >

      
        {% for d in data.Product_Name %}
        <tr>
          <td>{{ d }}</td>
        </tr>
       
      {% endfor %}
    </table>
        <form id="recommendation-form" autocomplete="off">
          <div>
            <label for="input">Text</label>
            <input type="text" id="input" placeholder="Type a text here..." required/>
          </div>
          <ul class="list"></ul>
          <button type="submit" class="btn btn-primary pull-right" style="background-color: orange; box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4); color: white;">Predict</button>
        </form>

      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card card-profile">
   
    <div class="card-body">
    <h6 class="card-category text-gray">
    Prediction result 
    </h6>
    <h4 class="card-title">
    </h4>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="">
          <th>
            Product
          </th>
         
        </thead>
        <tbody id="tab">

        </tbody>
      </table>
    </div>
    <ul id="my-list"></ul>
    <a href="#pablo" class="btn btn-primary btn-round"style="background-color: orange; box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4); color: white;" id="clear-button">Clear</a>
    </div>
    </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <!--  Google Maps Plugin    -->
  

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initGoogleMaps();

    });
  </script>
 
  <script>
    $(document).ready(function() {
  $.ajaxSetup({
    headers: {
      'X-CSRFToken': '{{ csrf_token }}'
    }
  });

});
    $('#recommendation-form').submit(function(event) {
    event.preventDefault();
    var ulElement = $('#tab');
    var titre = $('#input').val();
    $.ajax({
        type: 'POST',
        url: '/recommendation/',
       
        data: {'titre': titre},
        success: function(data) {
          dataaa = JSON.stringify(data.recommendation)
          data.recommendations.forEach(function(row) {
console.log(row)
            var liElement = $('<tr> <td>').text(row);
            ulElement.append(liElement);
            
            
          });
        }
    });
});
$(document).ready(function() {
  $('#clear-button').click(function() {
    $('#my-list').empty();
  });
});

  // Select the table element
 // Output the array of strings

 const table = document.getElementById('myTable');
  
  // Initialize an empty array to store the strings
  const names = [];

  // Iterate over the table rows
  for (let i = 0; i < table.rows.length; i++) {
    const cell = table.rows[i].cells[0]; // Select the first (and only) cell of each row
    const text = cell.innerText; // Extract the text from the cell
    console.log(text);
    names.push(text); // Add the text to the stringList array
  }

  console.log(names); 
//Sort names in ascending order
let sortedNames = names.sort();
//reference
let input = document.getElementById("input");
//Execute function on keyup
input.addEventListener("keyup", (e) => {
  //loop through above array
  //Initially remove all elements ( so if user erases a letter or adds new letter then clean previous outputs)
  removeElements();
  for (let i of sortedNames) {
    //convert input to lowercase and compare with each string
    if (
      i.toLowerCase().startsWith(input.value.toLowerCase()) &&
      input.value != ""
    ) {
      //create li element
      let listItem = document.createElement("li");
      //One common class name
      listItem.classList.add("list-items");
      listItem.style.cursor = "pointer";
      listItem.setAttribute("onclick", "displayNames('" + i + "')");
      //Display matched part in bold
      let word = "<b>" + i.substr(0, input.value.length) + "</b>";
      word += i.substr(input.value.length);
      //display the value in array
      listItem.innerHTML = word;
      document.querySelector(".list").appendChild(listItem);
    }
  }
});
function displayNames(value) {
  input.value = value;
  removeElements();
}
function removeElements() {
  //clear all the item
  let items = document.querySelectorAll(".list-items");
  items.forEach((item) => {
    item.remove();
  });
}
  </script>
{% endblock javascripts %}
